<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" style="display: flex; flex-direction: row; margin-left: 0px">
    {% if admin %}
        <div class="left">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/AdminPanel" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Admin</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">

      <li>
        <a href="/DodajWydarzenie" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Dodaj wydarzenie
        </a>
      </li>
      <li>
        <a href="/DodajTurniej" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Dodaj turniej
        </a>
      </li>
      <li>
        <a href="/DodajLige" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Dodaj ligę
        </a>
      </li>
      <li>
        <a href="/AdminWyloguj" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"></svg>
          Wyloguj
        </a>
      </li>
    </ul>
    <hr>
    </div>
        </div>
    {% endif %}

    <div class="right" style="margin: 30px">
    {% block content %}
        {% if not admin%}
    Zaloguj sie
    {% endif %}

        {% if admin %}
            <div class="minicontainer" style="display: flex;flex-direction: row; justify-content: space-between">
<div class="ligi" style="margin: 30px" >
            <p style="text-align: center; line-height: 30px;">Najpopularniejsze ligi</p>
            <table class="table">
  <thead>
    <tr>
      <th scope="col">Nazwa ligi</th>
      <th scope="col">Ilość wydarzeń</th>
    </tr>
  </thead>
  <tbody>

            {% for x in ligi %}
                <tr>
                 <td>{{ x.turniejid__ligaid__nazwa }}</td>
                  <td>  {{ x.Liczba_Wydarzen }}</td>
                </tr>
            {% endfor %}

</tbody>
</table>
</div>
<div class="Najwiecejobstawiajacy" style="margin: 30px" >
            <p style="text-align: center; line-height: 30px;">Najwięcej obstawiający użytkownicy</p>
            <table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Suma zakładów</th>
    </tr>
  </thead>
  <tbody>

            {% for x in uzalezniency %}
                <tr>
                 <td>{{ x.uzytkownikid__username }}</td>
                  <td>  {{ x.Suma_zakladow }}</td>
                </tr>
            {% endfor %}

</tbody>
</table>
</div>
</div>




 {% endif %}
    {% endblock %}
    </div>
    </div>
</body>
</html>