<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Betting System</title>
</head>
<body>
{% extends 'SportsBetting/Home.html' %}
{% block content %}
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>


      </div>
    </div>
  </div>
</nav>

<h2 style="margin-left: 10px;padding: 10px">Nadchodzące wydarzenia</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Turniej</th>
      <th scope="col">Liga</th>
      <th scope="col">Miejsce</th>
      <th scope="col">Start</th>
      <th scope="col">Koniec</th>
      <th scope="col">Gospodarz</th>
      <th scope="col">Gość</th>
      <th scope="col">Kurs Gospodarz</th>
      <th scope="col">Kurs Gość</th>

    </tr>
  </thead>
  <tbody>
    {% for x in Wydarzenia %}
        <tr>
        <th scope="row">{{ x.wydarzenieid }}</th>
        <td>  {{ x.turniejid.nazwa}}</td>
      <td>{{ x.turniejid.ligaid.nazwa }}</td>
      <td >{{ x.miejsce }}</td>
      <td >{{ x.datastartu }}</td>
      <td >{{ x.datazakonczenia }}</td>
      <td>{{ x.gospodarzid.nazwa }}</td>
      <td>{{ x.goscid.nazwa }}</td>
      <td> <a href="/Zaklady/{{x.gospodarzid.nazwa}}/{{ x.datazakonczenia }}/{{x.kursgospodarz}}/{{ x.wydarzenieid }}" style="text-decoration: none">{{ x.kursgospodarz }}</a></td>
      <td><a href="/Zaklady/{{x.goscid.nazwa}}/{{ x.datazakonczenia }}/{{x.kursgosc}}/{{ x.wydarzenieid }}"  style="text-decoration: none">{{ x.kursgosc }}</a></td>

    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
</body>
</html>